<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-plister" version="1.0.0">
    <name>Plister</name>
    <description>Cordova Plister Plugin</description>
    <license>MIT</license>
    <keywords>cordova,plister</keywords>
    <!-- ios -->
    <platform name="ios">
        <config-file target="*-Info.plist" parent="ITSAppUsesNonExemptEncryption">
            <key>ITSAppUsesNonExemptEncryption</key>
            <false/>
        </config-file>
    </platform>
</plugin>
